<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>Download phần mềm miễn phí cho Windows, MAC, Android, iOS, Windows Phone, Webware - IDownload1s.com</title>
    <meta name="description" content="Tải phần mềm, download game và ứng dụng miễn phí dành cho Windows miễn phí"/>
    <meta name="keywords" content="Windows, download software, tải ứng dụng, freeware, antivirus, download game, tải yahoo, tải skype, tải zalo, tải viber, download yahoo, tải chrome, tải unikey, tải idm, link sopcast, download facebook"/>
	
	<link rel="search" type="application/opensearchdescription+xml" title="Tìm phần mềm - Download.com.vn" href="/opensearch.xml"/>
	<meta name="apple-mobile-web-app-title" content="IDownload.com"/> 
	<meta name="application-name" content="IDownload.com"/>
	<link rel="icon" sizes="228x228" href="favicon.228.png"/>
	<link rel="apple-touch-icon" href="favicon.228.png"/>
	
	<!-- Begin css plugins -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
	<!-- End css plugins -->
	
	<!-- Begin specific css -->
	
	<!-- End specific css -->
	
	<!-- Begin js plugins -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
	<!-- End js plugins -->
</head>
<body>
	<div class="container">
		<!-- Begin top navigation -->
		<div id="topNavigation">
		    <ul>
                <li>
                    <a href="/">Quy định</a>
                </li>
                <li>
                    <a href="/">Sơ đồ trang</a>
                </li>
                <li>
                    <a href="/">Liên hệ</a>
                </li>
                <li>
                    <a href="/">Tiện ích</a>
                </li>
                <li>
                    <a href="/">Facebook</a>
                </li>
                <li>
                    <a href="/">Google+</a>
                </li>
                <li>
                    <a href="/">Youtube</a>
                </li>
                <li>
                    <a href="/">Rss</a>
                </li>
            </ul>
		</div>
		<!-- End top navigation -->
		
		<!-- Begin header -->
		<div id="header">
			<div class="logo">
                <a href="/" title="IDownload1s.com">IDownload1s.com</a>
            </div>
            <div class="search-box">
                <form action="/tim-kiem" method="post">
                    <input type="text" class="search-keyword" name="keyword" placeholder="Tìm kiếm ứng dụng" />
                    <select class="search-category">
                        <option value="1" selected>Tất cả</option>
                        <option value="2">Windowns</option>
                        <option value="3">Mac</option>
                        <option value="4">Linux</option>
                        <option value="5">Android</option>
                        <option value="6">IOS</option>
                        <option value="7">Web</option>
                        <option value="8">Windown phone</option>
                        <option value="9">Hướng dẫn</option>
                    </select>
                    <button class="btn-search">Tìm kiếm</button>
                </form>
                <div class="share-box">

                </div>
            </div>
            <a class="toggle menu"></a>
		</div>
		<!-- End header -->

		<!-- Begin main Navigation -->
		<div id="mainNavigation">
			<div id="tabs">
                <ul class="navigation clearfix">
                    <li class="first home-menu">
                        <a href="/">Tất cả</a>
						<ul class="clearfix">
							<li class="windows">
								<a href="/">
									<img src="images/windows8.png"/>
									<span>Windows</span>
								</a>
								<ul class="clearfix">
									<li>
										<a href="/">
											<img src="images/private.png">
											<span>Phần mềm Bảo mật</span>
										</a>
									</li>
									<li>
										<a href="/">
											<img src="images/shield-32.png">
											<span>Diệt Virus - Spyware</span>
										</a>
									</li>
									<li>
										<a href="/">
											<img src="images/joystick.png">
											<span>Game - Trò chơi</span>
										</a>
									</li>
									<li>
										<a href="/">
											<img src="images/phone-sms.png">
											<span>Chat, Gọi video, Nhắn tin</span>
										</a>
									</li>
									<li>
										<a href="/">
											<img src="images/social.png">
											<span>Mạng xã hội</span>
										</a>
									</li>
									<li>
										<a href="/">
											<img src="images/navigation-toolbar.png">
											<span>Trình duyệt</span>
										</a>
									</li>
									<li>
										<a href="/">
											<img src="images/arrow.png">
											<span>Hỗ trợ Download, Upload</span>
										</a>
									</li>
									<li>
										<a href="/">
											<img src="images/photo.png">
											<span>Phần mềm đồ họa - Ảnh</span>
										</a>
									</li>
									<li>
										<a href="/">
											<img src="images/email.png">
											<span>Quản lý Email</span>
										</a>
									</li>
									<li>
										<a href="/">
											<img src="images/full-folder.png">
											<span>Ứng dụng văn phòng</span>
										</a>
									</li>
									<li>
										<a href="/">
											<img src="images/folder.png">
											<span>Dữ liệu - File</span>
										</a>
									</li>
									<li>
										<a href="/">
											<img src="images/note.png">
											<span>Phần mềm nhạc - Audio</span>
										</a>
									</li>
									<li>
										<a href="/">
											<img src="images/video-play.png">
											<span>Phần mềm Video</span>
										</a>
									</li>
									<li>
										<a href="/">
											<img src="images/statistics.png">
											<span>Phần mềm doanh nghiệp</span>
										</a>
									</li>
									<li>
										<a href="/">
											<img src="images/education.png">
											<span>Giáo dục - Học tập</span>
										</a>
									</li>
									<li>
										<a href="/">
											<img src="images/code.png">
											<span>Phần mềm lập trình</span>
										</a>
									</li>
									<li>
										<a href="/">
											<img src="images/pageview.png">
											<span>Template</span>
										</a>
									</li>
									<li>
										<a href="/">
											<img src="images/networking.png">
											<span>Phần mềm mạng</span>
										</a>
									</li>
									<li>
										<a href="/">
											<img src="images/system.png">
											<span>Phần mềm Hệ thống</span>
										</a>
									</li>
									<li>
										<a href="/">
											<img src="images/mobile-marketing.png">
											<span>Hỗ trợ Mobile</span>
										</a>
									</li>
									<li>
										<a href="/">
											<img src="images/wallpaper.png">
											<span>Hình nền</span>
										</a>
									</li>
									<li>
										<a href="/">
											<img src="images/cd.png">
											<span>Drivers - Firmware</span>
										</a>
									</li>
								</ul>
							</li>
							<li class="mac">
								<a href="/">
									<img src="images/mac-os.png">
									<span>Mac</span>
								</a>
							</li>
							<li class="android">
								<a href="/">
									<img src="images/android.png">
									<span>Android</span>
								</a>
							</li>
							<li class="ios">
								<a href="/">
									<img src="images/ios.png">
									<span>Ios</span>
								</a>
							</li>
							<li class="windowsphone">
								<a href="/">
									<img src="images/windows-phone.png">
									<span>Windows Phone</span>
								</a>
							</li>
							<li class="web">
								<a href="/">
									<img src="images/globe.png">
									<span>Web</span>
								</a>
							</li>
							<li class="linux">
								<a href="/">
									<img src="images/linux.png">
									<span>Linux</span>
								</a>
							</li>	
							<li class="blackberry">
								<a href="/">
									<img src="images/blackberry.png">
									<span>Blackberry</span>
								</a>
							</li>
							<li class="symbian">
								<a href="/">
									<img src="images/symbian.gif">
									<span>Symbian</span>
								</a>
							</li>
							<li class="tip">
								<a href="/">
									<img src="images/tip.png">
									<span>Hướng dẫn</span>
								</a>
							</li>
						</ul>
                    </li>
                    <li id="windows" class="item windows">
                        <a href="/">
                            <img src="images/windows8.png">
                            <span>Windows</span>
                        </a>
                    </li>
                    <li id="mac" class="item mac">
                        <a href="/">
                            <img src="images/mac-os.png">
                            <span>Mac</span>
                        </a>
                    </li>
                    <li id="android" class="item android">
                        <a href="/">
                            <img src="images/android.png">
                            <span>Android</span>
                        </a>
                    </li>
                    <li id="ios" class="item ios">
                        <a href="/">
                            <img src="images/ios.png">
                            <span>Ios</span>
                        </a>
                    </li>
                    <li id="windowsphone" class="item windowsphone">
                        <a href="/">
                            <img src="images/windows-phone.png">
                            <span>Windows Phone</span>
                        </a>
                    </li>
                    <li id="web" class="item web">
                        <a href="/">
                            <img src="images/globe.png">
                            <span>Web</span>
                        </a>
                    </li>
                    <li id="linux" class="item linux">
                        <a href="/">
                            <img src="images/linux.png">
                            <span>Linux</span>
                        </a>
                    </li>
                    <li id="blackberry" class="item blackberry">
                        <a href="/">
                            <img src="images/blackberry.png">
                            <span>Blackberry</span>
                        </a>
                    </li>
                    <li id="symbian" class="item symbian">
                        <a href="/">
                            <img src="images/symbian.gif">
                            <span>Symbian</span>
                        </a>
                    </li>
                    <li id="tip" class="item tip">
                        <a href="/">
                            <img src="images/tip.png">
                            <span>Hướng dẫn</span>
                        </a>
                    </li>
                    <li class="item last software-menu">
                        <a href="/">
                            <img src="images/cart.png">
                            <span>Mua phần mềm</span>
                        </a>
                    </li>
                </ul>
            </div>
		</div>
		<!-- End main Navigation -->
		
		<!-- Begin top Ads -->
		<div id="topAds">
		
		</div>
		<!-- End top Ads -->
		
		<!-- Begin wrapper -->
		<div id="wrapper">
			
		</div>
		<!-- End wrapper -->
			
		<!-- Begin footer -->	
		<div id="footer">
		
		</div>
		<!-- End footer -->
	</div>
</body>
</html>